@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

#frame-spec {
    width: 476px;
    height: 290px;
    border: none;
    overflow: hidden;
}

#frame-spec::-webkit-scrollbar {
    display: none;
}



